.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  margin: 10px;
}

.getAll {
  background-color: #56b6c2;
}

.getAll:hover {
  opacity: 1;
}

.add {
  background-color: #c678dd;
}

.add:hover {
  opacity: 1;
}

.update {
  background-color: #61afef;
}

.update:hover {
  opacity: 1;
}

.delete {
  background-color: #e59f70;
}

.delete:hover {
  opacity: 1;
}

.floorContainer {
  height: 90vh;
  position: relative;
}

.room {
  height: 29.1%;
  width: 23%;
  background-color: lightblue;
  position: absolute;
  top: 0px;
  opacity: 0;
  margin: 1%;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.room:hover {
  opacity: 0.5;
}
