.admin-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 48vw;
  height: 46vh;
  background-color: #fff;
}

.admin-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.add-user,
.remove-user,
.set-team-lead,
.assign-room {
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  justify-content: center;
}

.inputs {
  width: 30%;
  display: flex;
  flex-direction: column;
}
