.main-container {
  height: 90vh;
  width: 95vw;
  display: flex;
  justify-content: center;
}
.blueprint {
  height: 90vh;
  position: relative;
}

.blueprint img {
  height: 100%;
}

.right {
  flex: 5;
  background-color: white;
  border-radius: 25px;
  color: black;
}

.room {
  position: absolute;
  opacity: 0.4;
  margin: 1%;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.room_1 {
  position: absolute;
  height: 29%;
  width: 22.4%;
  top: 0.2%;
  left: 0.4%;
}

.room_2 {
  position: absolute;
  height: 37.8%;
  width: 38.5%;
  top: 2px;
  right: 6px;
}

.room_3 {
  position: absolute;
  height: 34.5%;
  width: 23%;
  top: 47%;
  left: 2px;
}

.room_4 {
  position: absolute;
  height: 16%;
  width: 45%;
  top: 82.5%;
  left: 2px;
}

.room_5 {
  position: absolute;
  height: 16.1%;
  width: 51.5%;
  top: 82.4%;
  right: 2px;
}
.room:hover {
  opacity: 0.9;
}

.legend-container {
  height: 30vh;
  display: flex;
  align-items: top;
}

.legend {
  color: #282c34;
  height: 250px;
  width: 350px;
  background-color: #fff;
  margin-left: 100px;
  border-radius: 15px;
}

.assigned,
.free,
.reserved {
  display: flex;
}

.assigned span {
  display: block;
  height: 25px;
  width: 25px;
  background-color: goldenrod;
  border-radius: 15px;
  margin-right: 15px;
  margin-left: 30px;
}

.free span {
  display: block;
  height: 25px;
  width: 25px;
  background-color: lightblue;
  border-radius: 15px;
  margin-right: 15px;
  margin-left: 30px;
}

.reserved span {
  display: block;
  height: 25px;
  width: 25px;
  background-color: salmon;
  border-radius: 15px;
  margin-right: 15px;
  margin-left: 30px;
}
.content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reserved-color {
  background-color: salmon;
}

.free-color {
  background-color: lightblue;
}

.assigned-color {
  background-color: goldenrod;
}

.info {
  height: 60vh;
  width: 40vw;
  background-color: #fff;
  margin-left: 100px;
  border-radius: 15px;
  opacity: 0;
  color: #282c34;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease;
}

.info-updated {
  opacity: 1;
}

.numWorkstations {
  top: 15px;
  position: absolute;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.calendar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 75px;
  left: 15px;
  justify-content: space-around;
}

.reserve-btn {
  position: absolute;
  height: 40px;
  width: 200px;
  left: 40%;
  bottom: 25px;
  background-color: rgb(92, 73, 73);
  border-radius: 15px;
  text-align: center;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}
