.floorContainer {
  height: 80vh;
  width: 50vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
}

.floor {
  height: 15%;
  width: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  margin-top: -50px;
  transition: all 1s ease-out;
  opacity: 1;
  animation: fadein 1s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin: 0px;
  }
  to {
    opacity: 1;
  }
}

.floor .bottom {
  background-color: rgb(172, 114, 114);
  height: 10%;
  width: 150px;
  position: relative;
  border: solid black 1px;
}

.floor .bottom .top {
  background-color: rgb(172, 114, 114);
  height: 75px;
  width: 150px;
  position: absolute;
  top: 0px;
  transform: skew(-45deg) translateY(-81px) translateX(-42px);
  border: solid black 1px;
}

.floor .bottom .side {
  background-color: rgb(172, 114, 114);
  height: 95%;
  width: 75px;
  position: absolute;
  top: 0px;
  transform: skewY(-45deg) translateX(155px) translateY(116px);
  border: solid black 1px;
}

.floor:hover {
  /*animation: bubbly 1s infinite;*/
  transform: translateX(150px);
}

.floor:hover .floorName {
  /*animation: bubbly 1s infinite;*/
  opacity: 1;
  transition: all 0.5s 0.3s ease;
}

.floorName {
  position: absolute;
  left: -50px;
  color: black;
  top: 50%;
  opacity: 0;
  transition: all 0.25s ease;
}

.container {
  overflow: hidden;
  height: 100vh;
  width: 100vh;
  position: relative;
}

h1 {
  height: 8vh;
}

@keyframes bubbly {
  from {
  }
  to {
    transform: translate3d(20px, 20px);
  }
}

.adminDashboard {
  height: 60px;
  width: 150px;
  background-color: #282c34;
  position: absolute;
  top: 25px;
  left: 25px;
  border-radius: 15px;
  font-size: x-large;
  animation: bubbly 2s infinite ease-in-out;
  animation-delay: 2s;
  cursor: pointer;
}

@keyframes bubbly {
  from {
    top: 25px;
    opacity: 1;
  }
  80% {
    top: 25px;
    opacity: 1;
  }
  90% {
    opacity: 0.9;
    top: 20px;
  }

  to {
    opacity: 1;
    top: 25px;
  }
}
